div.control-page
{
  max-width: 400px;
  max-height: 800px;
  margin: auto;
}

div.centered-flex-container
{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.control-elements-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

div.control-element
{
}

.control-element-clickable
{
  cursor: pointer;
}

.control-element-enabled
{
  color: green;
}

.control-element-disabled
{
  color: red;
}
